<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>EAT DA BURGER</title>
	</head>

	<body>
		{{{body}}}
	</body>

</html>




{{!--
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/models/public/styles/burger_style.css" type="text/css" />
	<title>Burger Devour Menu</title>
</head>

<body>
	<img src="/models/public/img/cute_burger.jpeg" width="400px" id="cute_burger"> {{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2018 guamcracker entertainment</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/guamcracker">Reference Work</a>
			</div>
		</div>
	</footer>
</body>

</html> --}}